body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

.content {
  position: absolute;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 200%;

  transform-origin: top left;
  transition: transform .7s $snap;
}

.content-inner {
  overflow-y: auto;
  max-width: 1280px;
  margin: 0 auto;

  padding: 100px 0;

  @media all and (max-width: $tablet) {
    padding: 90px 0;
  }
}

.menu-opened.content {
  transform: rotate(-30deg);
}

.login-page {
  display: flex;
  flex-direction: column;
}

form {
  .md-field > input {
    border-bottom: 1px solid $color-dark-grey;
    color: $color-dark-grey;
  }

  .error {
    min-height: 30px;
  }

  .input-with-error {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
  }

  .validation-error {
    color: $color-tomato;
    font-size: 12px;

    &.auth-error {
      display: flex;
      justify-content: center;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
