$button-height: 56px;

@mixin common-button() {
  letter-spacing: 1px;
  border: 0;
  @include border-radius(3px);
  @include transitions-all;
  outline:none;
}

@mixin green-button() {
  background-color: $color-blue;
  color: $color-white;

  &:enabled {
    &:hover,
    &:focus {
      background-color: $color-light-blue;
      color: $color-whitey;
      cursor: pointer;
    }
  }

  &[disabled] {
    opacity: 0.32;
  }
}

@mixin light-blue-button() {
  background-color: $color-light-blue;
  color: $color-white;
  border: solid 1px $color-white;

  &:enabled {
    &:hover {
      background-color: $color-blue;
      color: $color-white;
      cursor: pointer;
    }
  }

  &[disabled] {
    opacity: 0.32;
  }
}
