$color-tomato: #F37272;
$color-whitey: #F0F0F0;
$color-whitey-lighter: #F6F6F6;
$color-whitey-darker: #D4D4D4;
$color-green: #009b4d;
$color-hover-green: #00b853;
$color-font-grey: #536273;
$color-dark-grey: #4a4a4a;
$color-font-light-grey: #999;
$color-black: #000;
$color-brown: #8B4513;
$color-light-blue: #7c9cc9;
$color-blue: #4d6d9b;
$color-dark-blue: #2b3e66;

@mixin font($font-size, $font-weight:null, $line-height:null, $font-family:null) {
  font-size: $font-size;
  @if $font-weight != null {
    font-weight: $font-weight;
  }
  @if $font-family != null {
    font-family: $font-family;
  }
  @if $line-height != null {
    line-height: $line-height;
  }
}

