$color-tomato: #F37272;

$color-white: #FFF;
$color-whitey: #F0F0F0;
$color-whitey-lighter: #F6F6F6;
$color-whitey-darker: #D4D4D4;

$color-green: #009b4d;
$color-hover-green: #00b853;
$color-hover-green-transparent: rgba(0,184,83,0.5);

$color-light-grey: #999;
$color-grey: rgba(0, 0, 0, 0.5);
$color-dark-grey: #4a4a4a;

$color-black: #000;

$color-brown: #8B4513;

$color-light-blue: #94a9be;
$color-blue: #4d6d9b;
$color-dark-blue: #2b3e66;
$color-blue-grey: #456591;

$color-amber: #ffc346;
